{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,

  "overrides": [
  {
    "files": "*.sol",
    "options": {
    "tabWidth": 2,
    "printWidth": 120
    }
  },
  {
    "files": "*.js",
    "options": {
    "tabWidth": 2,
    "trailingComma": "es5"
    }
  }
  ]
}
